* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.hero {
    text-align: center;
}

hr {
    color: #a01313;
}

main {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    padding: 1rem;
    background-image: linear-gradient(#a01313, #c82828);
    color: white;
}

#menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 7px;
}

#menu::before {
    content: "☰";
}

nav {
    background-color: rgb(255, 255, 255);
}

.active::before {
    content: "📍";
}

nav a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;
}

nav ul {
    padding: 0;
    margin: 0;
    display: none;
}

.open ul {
    display: block;
}

#menu.open::before {
    content: "X";
}

nav li a:hover {
    background-image: radial-gradient(#6f0101, #c11f1f);
    color: white;
}

.high-temp {
    text-align: center;
    padding: 1rem;
    background-image: radial-gradient(#6f0101, #c11f1f);
    color: white;
}

.hero-button {
    margin-top: 1rem;
    padding: 1rem;
    background-image: radial-gradient(#6f0101, #c11f1f);
    color: white;
    font-size: large;
}

p {
    text-align: center;
    width: 300px;
}

.hero p,
.high-temp p {
    margin: 0 auto;
}

.parent {
    position: relative;
    margin-top: 2rem;
}

.header {
    position: absolute;
    background-image: linear-gradient(#a01313, #c82828);
    color: white;
    border-radius: 15px 50px 30px;
    right: 0;
}

.paragraph {
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(#a01313, #c82828);
    color: white;
    padding: 0.5rem;
    border-radius: 15px 50px 30px 5px;
}

h2,
h3,
h4 {
    padding: 2rem;
}

img {
    margin-top: 1rem;
    width: 400px;
}

img:hover {
    padding: 1rem;
}

.social-links {
    margin-top: 2rem;
}

/* .weather p,
.social-links p,
footer p {
    margin: 0 auto;
    background-image: linear-gradient(#a01313, #c82828);
    color: white;
    width: 100%;
} */
.social-links,
.weather,
footer {
    margin: 0 auto;
    background-image: linear-gradient(#a01313, #c82828);
    color: white;
    width: 100%;
    text-align: center;
}

.weather {
    margin-top: 2rem;
}

.social-links {
    margin-top: 2rem;
}

.weather p,
.social-links p,
footer p {
    width: 100%;
}

/* RESERVATIONS PAGE */
.hr1 {
    width: 70px;
    margin: 1rem auto;
    height: 15px;
    background-image: linear-gradient(#a01313, #c82828);
}

.agreement-info {
    padding: 1rem 3rem;
    text-wrap: wrap;
    text-align: left;
}

.agreement-info li {
    text-align: left;
    list-style: linear-gradient(#a01313, #c82828);
}

.form1 {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form1 form label {
    display: block;
    text-align: left;
    margin-bottom: 1rem;
}

.form1 form input,
.form1 form select {
    text-align: left;
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

.form1 form input[type="submit"] {
    padding: 1rem;
    text-align: center;
    background-image: linear-gradient(#a01313, #c82828);
    color: white;
    font-size: 20px;
}

.form1 form select {
    margin-bottom: 1rem;
}

/* CONTACT PAGE */
.form2 {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form2 form label {
    display: block;
    text-align: left;
    margin-bottom: 1rem;
}

.form2 form input,
textarea {
    text-align: left;
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

.form2 form input[type="submit"] {
    padding: 1rem;
    text-align: center;
    background-image: linear-gradient(#a01313, #c82828);
    color: white;
    font-size: 20px;
}

.hr2 {
    width: 70px;
    margin: 2rem auto;
    height: 15px;
    background-image: linear-gradient(#a01313, #c82828);
}

.contact-info h2 {
    padding-top: 1rem;
}

.contact-info p {
    width: 100%;
}

.maps iframe {
    width: 300px;
    margin-bottom: 1rem;
}