* {
    box-sizing: border-box;

}

html {
    font-family: 'Roboto' sans-serif;
}

header {
    text-align: center;
    background-color: #254774;
    color: white;
    padding: 1rem;
}

h1 {
    margin: 0;
}

/* body {
    font-family: 'Roboto' sans-serif;
} */


section {
    background-color: #bec1c6;
    margin: 10px;
    border-radius: 20px;
}


h2 {
    background-color: #254774;
    color: white;
    padding: 1rem;
    margin: 0;
    border-radius: 20px;
}

a {
    padding: 1rem;
    font-size: medium;
    color: #000000;
}

p {
    padding: 1rem;
    margin: 0;
}

img {
    width: 100%;
}

footer {
    background-color: #254774;
    color: white;
    text-align: center;
}