* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

h1 {
    margin: 0 0 10px 0;
}

#menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 7px;
}

#menu::before {
    content: "☰";
}

nav a {
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    padding: 10px;
}

nav ul {
    padding: 0;
    margin: 0;
    display: none;
}

.open ul {
    display: block;
}

#menu.open::before {
    content: "X";
}

.active::before {
    content: "📍";
}

main {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

#join {
    padding: 0.5rem;
    margin: 10px;
}

section {
    background-color: lightgray;
    margin: 20px;
}

.map {
    /* margin: 0 10%; */
    width: 100%;
}

footer {
    text-align: center;
}