* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --primary: #344E41;
    --secondary: #004724;
    --third: #588157;

}

header {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

h1 {
    margin: 0 0 10px 0;
}

main img {
    width: 90%;
}

header img {
    width: 30%;
}

/* The switch - the box around the slider */
.switch {
    position: absolute;
    top: 1rem;
    right: 4rem;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #99c099;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #344E41;
}

input:focus+.slider {
    box-shadow: 0 0 1px #344E41;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 7px;
    background-color: var(--primary);
}

#menu::before {
    content: "☰";
    color: white;
}

nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    text-align: center;
    padding: 10px;
}

nav ul {
    padding: 0;
    margin: 0;
    display: none;
}

nav a:hover {
    background-color: var(--third);
}

nav a:active {
    background-color: var(--secondary);
    color: white;
}

.open ul {
    display: block;
}

#menu.open::before {
    content: "X";
}

.active::before {
    content: "📍";
}

main {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

h2 {
    background-color: var(--primary);
    padding: 1rem;
    color: white;
}

#join {
    padding: 0.5rem;
    margin: 10px;
    background-color: var(--primary);
    color: white;
}

#join:hover {
    background-color: var(--third);
}

section {
    margin: 20px;

}

section h3,
p {
    padding: 10px;
}

hr {
    height: 3px;
    background-color: var(--secondary);
}

.map {
    width: 100%;
}

footer {
    text-align: center;
    background-color: var(--primary);
    color: white;
}

footer p {
    padding: 10px;
}

/* Discover page */
#demo span {
    color: #6a923a;
    font-weight: bolder;
}

#calendar {
    margin-top: 1rem;
    width: 80%;
    height: 400px;
}

#atractions img {
    margin-top: 1rem;
}

#atractions img:hover {
    box-shadow: 0 0 50px #004724;
}

/********* Form Styling *************/
form {
    margin: 2rem;
}

form input[type="text"],
input[type="tel"],
input[type="email"],
label {
    display: block;
    text-align: left;
}


form input[type="text"],
input[type="tel"],
input[type="email"] {
    margin: .5px 0 15px;
    padding: 14px;
}

form select {
    display: block;
    margin: 1rem auto;
}

form .member-top {
    margin-top: 1rem;
}

form .member-bottom {
    margin-bottom: 1rem;
}

form input[type="radio"] {
    margin: .5rem;
}

form input[type="submit"] {
    padding: .5rem;
    background-image: radial-gradient(var(--third), var(--primary));
    color: white;
    margin: .5rem 0 1rem;
    border-radius: 5px;
}

#record-main {
    margin: 4rem auto;
    text-align: center;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}

#record-main .one {
    width: 100%;
    padding: 1rem;
    color: white;
    border: groove 1em #004724;
    border-radius: 2em;
    background-image: radial-gradient(#6a923a, #004724);
}