* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

h1 {
    margin: 0 0 10px 0;
}

#menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 7px;
    background-color: #344E41;
}

#menu::before {
    content: "☰";
    color: white;
}

nav a {
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    padding: 10px;
}

nav ul {
    padding: 0;
    margin: 0;
    display: none;
}

nav a:hover {
    border-bottom: solid #344E41;
}

nav a:active {
    background-color: #004724;
    color: white;
}

.open ul {
    display: block;
}

#menu.open::before {
    content: "X";
}

.active::before {
    content: "📍";
}

main {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

h2 {
    background-color: #344E41;
    padding: 1rem;
    color: white;
}

#join {
    padding: 0.5rem;
    margin: 10px;
    background-color: #344E41;
    color: white;
}

#join:hover {
    background-color: #588157;
}

section {
    /* background-color: lightgray; */
    margin: 20px;

}

section h3,
p {
    padding: 10px;
}

hr {
    /* color: #004724; */
    height: 3px;
    background-color: #004724;
}

.map {
    /* margin: 0 10%; */
    width: 100%;
}

footer {
    text-align: center;
    background-color: #344E41;
    color: white;
}

footer p {
    padding: 10px;
}