@media screen and (min-width: 1000px) {
    nav {
        position: absolute;
        right: 0;
        top: 0.5rem;
    }

    nav ul {
        display: flex;
        list-style: none;
    }

    nav a {
        margin: 30px;
        color: white;
    }

    #menu {
        display: none;
    }

    main img {
        width: 98%;
        grid-column: 1/5;

    }

    header,
    nav {
        padding: 0;
        margin: 0;
        background-color: #344E41;
        color: white;
    }

    #join {
        position: absolute;
        top: 55rem;
        padding: 20px;
    }

    #weather,
    #events {
        border-bottom: none;
    }

    #spotlights {
        display: flex;
        align-items: center;

    }

    #spotlights section {
        border-top: solid #344E41;
        padding: 10px;
    }

    #spotlights section:hover {
        background-color: #344E41;
        color: white;
    }

}