@media screen and (min-width: 500px) {
    header {
        text-align: left;
        display: flex;
        align-items: center;
        margin: 20px;
    }

    .switch {
        top: 2rem;
        right: 7rem;

    }

    #menu {
        padding: 1rem;
        margin: 20px;
    }


    header img {
        width: 10%;
    }

    main {
        display: grid;
        /* grid-template-columns: 1fr 200px; */
        /* grid-template-rows: 500px 1fr; */
        position: relative;

    }

    .main-grid {
        grid-template-rows: 1fr 1fr;
    }

    .hero-img {
        width: 100%;
        height: auto;
    }

    .hero {
        position: relative;
        grid-column: 1/3;
    }

    #join {
        position: absolute;
        left: 40%;
        right: 40%;
        bottom: 2rem;

    }

    /* form {
        grid-column: 1/3;
    } */

    .benefits {
        grid-column: 2/3;
        height: 600px;
    }

    #weather,
    #events {
        border-bottom: solid #344E41;
    }

    #spotlights {
        grid-column: 1/3;
    }

    /* Discovery Page */
    #demo,
    #calendar1 {
        grid-column: 2/3;
        width: 100%;
        /* height: 700px; */
    }

    #atractions {
        grid-row: 1/3;
    }

    #calendar iframe {
        margin-bottom: 1rem;
        width: 100%;
        /* height: 300px; */
    }

    textarea {
        display: block;
    }

    /* ***************** */
    .list section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        align-items: center;
    }

}