* {
    box-sizing: border-box;
}

header {
    display: flex;
    font-size: 15px;
    text-align: center;
    background-color: #2d4e7c;
    color: white;
    justify-content: center;
}

img {
    margin: 5px;
}

h1 {
    padding: 2rem;
    margin: 0;
}

nav {
    background-color: black;
}

nav a {
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    padding: 5px;
}



main {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

h2 {

    text-align: center;
    grid-column: 1/5;
    margin-bottom: 0;
}

hr {
    width: 100%;
    grid-column: 1/5;
}

h3 {
    background-color: #2d4e7c;
    color: white;
    padding: 15px;
    margin: 0;
    text-align: center;
}


ul li {
    list-style: none;

}

.card {
    grid-column: 1/5;
    border-style: solid;
    border-color: lightgray;
}

footer {
    text-align: center;
    margin-top: 10px;
    background-color: #2d4e7c;
    color: white;
    padding: 1rem;
}