@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {
    box-sizing: border-box;
}

header {
    display: flex;
    font-size: 15px;
    text-align: center;
    background-color: #2d4e7c;
    color: white;
    justify-content: center;
}

.hero img {
    width: 100%;
    height: auto;
    margin: 0;
}

.hero {
    max-width: 90%;
    position: relative;
    margin: auto;
}

.hero-label {
    position: absolute;
    top: 0;
    left: 1rem;
}

.hero-label p {
    font-weight: 700;
    font-size: 1.2rem;
    font-family: "Dancing Script", cursive;
}

img {
    margin: 5px;
}

h1 {
    padding: 2rem;
    margin: 0;
}

#menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 7px;
}

#menu::before {
    content: "☰";
}



nav {
    background-color: black;
}

.active::before {
    content: "📍";
}

nav a {
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
}

nav ul {
    padding: 0;
    margin: 0;
    display: none;
}

.open ul {
    display: block;
}

#menu.open::before {
    content: "X";
}

main {
    width: 80%;
    margin: 0 auto;
}

section {
    margin: 10px;
}

section p {
    margin: 1rem;
    text-align: center;
}

h2 {

    text-align: center;
    margin-bottom: 0;
}

hr {
    width: 100%;
}

h3 {
    background-color: #2d4e7c;
    color: white;
    padding: 15px;
    margin: 0;
    text-align: center;
}


ul li {
    list-style: none;

}

.card {
    border-style: solid;
    border-color: lightgray;
}

.map {
    margin: 0 10%;
    width: 80%;
}

footer {
    text-align: center;
    margin-top: 10px;
    background-color: #2d4e7c;
    color: white;
    padding: 1rem;
}