:root {
    padding: 0;
    margin: 0;
    --primary-color: #608dc7;
    --secondary-color: #224572;
    --font: "Roboto Mono", monospace;
}

form {
    font-family: var(--font);
    font-size: small;
}

label {
    display: block;
    margin: 1rem;
}

input {
    display: block;
}

input[type="submit"] {
    padding: .5rem;
    border-radius: 5px;
    background-image: radial-gradient(var(--primary-color), var(--secondary-color));
    color: white;
}

#range-value1 {
    margin-left: 50px;
}

#rating {
    margin-left: 16px;
}

/* Record.html */
#record-main {
    display: block;
}

#record-main h1,
p {
    text-align: center;
}

#record-main p {
    font-size: larger;
}